<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

	<connectionStrings>
		<clear />
		<add name="DBConnection"
		 providerName="System.Data.ProviderName"
		 connectionString="workstation id=CATALOGOP3DB.mssql.somee.com;packet size=4096;user id=alegomeznieto_SQLLogin_4;pwd=wa1p6ezxaa;data source=CATALOGOP3DB.mssql.somee.com;persist security info=False;initial catalog=CATALOGOP3DB;" />
	</connectionStrings>

</configuration>
