body {
    margin: 0;
    font-family: Roboto;
    background-color: #ddd
}

.sinCarrito {
    width: 100%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/91763106/photo/fallen-shopping-cart.jpg?s=612x612&w=0&k=20&c=GGjDZz5EKcGWBhgOAM8E8mSHJCuDJ5oYoquMvtSrv3I=);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sinCarritoTitulo, .sinCarritoBoton{
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.sinCarritoTitulo{
    font-size: 5rem;
    align-self: end;
    color: #000;
}

.sinCarrito div{
    text-align: center;
}

.sinCarritoBoton {
    font-size: 2.5rem;
    padding: 0 .5em .2em .5em;
    background: #777;
    border: 2px solid #fff;
    border-radius: 15px;
}

.sinCarritoBoton:hover{
    background: #b06f6f;
}

footer{
    text-align: center;
    background: #ccc;
   }

.card:hover {
    /*transform: scale(1.05);*/
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card-text {
    display: none;
}

.card:hover .card-text {
    display: block; 
}