body {
    margin: 0;
    font-family: Roboto;
    background-color: #ddd
}

.sinCarrito {
    height: 100vh;
    background-image: url(https://media.istockphoto.com/id/91763106/photo/fallen-shopping-cart.jpg?s=612x612&w=0&k=20&c=GGjDZz5EKcGWBhgOAM8E8mSHJCuDJ5oYoquMvtSrv3I=);
    background-size: contain;
    background-position: center;
    background-color: #fff;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sinCarritoTitulo, .sinCarritoBoton{
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.sinCarritoTitulo{
    font-size: 5rem;
    align-self: end;
    color: #000;
}

.sinCarrito div{
    text-align: center;
}

.sinCarritoBoton {
    font-size: 2.5rem;
    padding: 0 .5em .2em .5em;
    background: #777;
    border: 2px solid #fff;
    border-radius: 15px;
}

.sinCarritoBoton:hover{
    background: #b06f6f;
}

footer{
    text-align: center;
    background: #ccc;
   }

.card:hover {

    transform: scale(1.05);
    box-shadow: 0 0 40px -10px #fff;
}


.btndetalle {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #e6e6e6;
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

    .btndetalle:hover {
        background-color: #cc9999;
        color: #ffffff;
        font-size: 17px;
        font-weight: bold;
    }

.btndetalle:active {
        background-color: #666666;
        color: #ffffff;
        transform: translateY(1px);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }


.TxtBusqueda {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(128, 0, 0, 0.3); /* Sombra con color burdeos */
    padding: 8px;
    border-color: #ccc; /* Color de borde predeterminado */
}

.TxtBusqueda:focus {

        border-color: #ffffff; /* Nuevo color de borde cuando se selecciona */
   }

.form-check-label {
    align-self: flex-start;
    margin-top: 5px;
}

.form-check-input {
    margin-top: 7px;
}

.col-md-3 {
    width: 12.5%;
}

.col-md-9 {
    width: 37.5%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-9 {
    width: 75%;
}